streamlit==1.35.0
flask==3.0.3
requests==2.31.0
pywhatkit==5.4
opencv-python==4.9.0.80
numpy==1.26.4
twilio==9.0.1
googlesearch-python==1.2.3
pyautogui==0.9.54
streamlit-drawable-canvas==0.9.2
paramiko==3.4.0
