streamlit
streamlit-drawable-canvas
opencv-python-headless
Pillow
requests
bs4
googlesearch-python
pywhatkit
twilio
instabot
python-twitter
facebook-sdk
python-multipart
geopy
paramiko
pyautogui
numpy
uuid
python-dotenv
